﻿@model WebApplication3.ViewModels.StudentCoursesViewModel
<h4>Unenrollment page</h4>
<form action="@Url.Action("Unenroll")" method="post">
    @Html.DropDownListFor(a => Model.StudentId, new SelectList(ViewBag.Students, "Id", "Name"))
    @Html.DropDownListFor(a => Model.CourseId, new SelectList(ViewBag.Courses, "Id", "Title"))
    <input type="submit" name="Submit" value="Submit" />
</form>